body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Julius Sans One", sans-serif;
  transition: 2s;
}

/*Header star*/
#header {
  text-align: center;
  font-family: "Buda", cursive;
}

#header h1 {
  font-size: 300%;
}
/*Header end*/

/*navbar start*/
#navbar {
  text-align: center;
  padding: 0 20%;
  font-family: "Julius Sans One", sans-serif;
  font-size: 30px;
}

#navbar ul {
  padding: 0;
  border-bottom: solid black 2px;
}

#navbar li {
  display: inline-block;
  margin: 10px;
  padding-left: 5px;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#navbar a:hover {
  color: white;
  background-color: black;
}

/*navbar end*/

/*article start*/
#article {
  text-align: center;
  padding: 0 20%;
}
/*article end*/

/*start toggle light/dark*/
#toggle_dn {
  position: absolute;
  height: 70px;
  width: 70px;
  top: 20px;
  right: 20px;
}
/*end toggle light/dark*/

@media (min-width: 768px) and (max-width: 980px) {
}

@media (max-width: 767px) {
}

/*start dark mode*/

body.dark_mode {
  background-color: black;
  color: white;
  transition: 2s;
}

#navbar.dark_mode a {
  color: white;
  transition: 2s;
}

#navbar.dark_mode ul {
  border-bottom: solid white 2px;
  transition: 2s;
}

/*end dark mode*/
